<%= form_for @bling_order_item, :html => { :class => "form-horizontal bling_order_item", :multipart => true } do |f| %>

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>

  <% if @bling_order_item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bling_order_item.errors.count, "error") %> prohibited this bling_order_item from being
          saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @bling_order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-12">
      <%= f.label :situation_id, t(:'activerecord.attributes.bling_order_items.situation_id'), :class => 'control-label' %>
      <%= select_tag("bling_order_item[situation_id]", options_for_select(bling_order_item.situations_for_select, selected: f.object.situation_id), class: 'custom-select') %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.codigo'), :class => 'control-label' %>
      <%= f.text_field :codigo, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.unidade'), :class => 'control-label' %>
      <%= f.text_field :unidade, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.quantidade'), :class => 'control-label' %>
      <%= f.text_field :quantidade, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.desconto'), :class => 'control-label' %>
      <%= f.text_field :desconto, :class => 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.valor'), :class => 'control-label' %>
      <%= f.text_field :valor, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.aliquotaIPI'), :class => 'control-label' %>
      <%= f.text_field :aliquotaIPI, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.desconto'), :class => 'control-label' %>
      <%= f.text_field :desconto, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.valor'), :class => 'control-label' %>
      <%= f.text_field :valor, :class => 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.aliquotaIPI'), :class => 'control-label' %>
      <%= f.text_field :aliquotaIPI, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.descricao'), :class => 'control-label' %>
      <%= f.text_field :descricao, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.descricaoDetalhada'), :class => 'control-label' %>
      <%= f.text_field :descricaoDetalhada, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.store_id'), :class => 'control-label' %>
      <%= f.text_field :store_id, :class => 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.created_at'), :class => 'control-label' %>
      <%= f.text_field :created_at, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.updated_at'), :class => 'control-label' %>
      <%= f.text_field :updated_at, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.date'), :class => 'control-label' %>
      <%= f.text_field :date, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.alteration_date'), :class => 'control-label' %>
      <%= f.text_field :alteration_date, :class => 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.marketplace_code_id'), :class => 'control-label' %>
      <%= f.text_field :marketplace_code_id, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.bling_id'), :class => 'control-label' %>
      <%= f.text_field :bling_id, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.account_id'), :class => 'control-label' %>
      <%= f.text_field :account_id, :class => 'form-control', disabled: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.value'), :class => 'control-label' %>
      <%= f.text_field :value, :class => 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <%= f.label t('activerecord.attributes.bling_order_items.collected_alteration_date'), :class => 'control-label' %>
      <%= f.text_field :collected_alteration_date, :class => 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit t('save'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bling_order_items_path, :class => 'btn btn-default' %>
  </div>
<% end %>

