<div class="section-header row-cols-2">
  <div class="page-header">
    <h1><%= t('activerecord.models.bling_order_items.other') %></h1>
  </div>
  <div class="d-flex justify-content-end">
    <%= button_to "Faça algo útil", '#', class: "btn btn-success", method: :get %>
  </div>
</div>

<div class="form-group">
  <%= form_with(url: bling_order_items_path, method: :get) do %>
    <%= select_tag "status", options_for_select([['Situação', ''], ['Ativo', 1], ['Inativo', 0]], @default_status_filter) %>
    <%= select_tag "balance_situation", options_for_select([['Saldo total', ''], ['Maior do que zero', 1], ['Igual a zero', 0], ['Menor do que zero', -1]], @default_situation_balance_filter) %>
    <%= submit_tag "Filtro", class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="section-body">
  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag :bling_order_items do %>
        <div class="table-responsive">

          <table id="blingOrderItemTable" class="table table-striped">
            <thead>
            <tr>
              <th><%= t('activerecord.attributes.bling_order_items.id') %></th>
              <th><%= t('activerecord.attributes.bling_order_items.bling_order_id') %></th>
              <th><%= t('activerecord.attributes.bling_order_items.bling_id') %></th>
              <th><%= t('activerecord.attributes.bling_order_items.situation_id') %></th>
              <th><%= t('activerecord.attributes.bling_order_items.store_id') %></th>
              <th><%= t('activerecord.attributes.bling_order_items.marketplace_code_id') %></th>
              <th><%= t('activerecord.attributes.bling_order_items.date') %></th>
              <th><%= t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody>
            <% @bling_order_items.each do |bling_order_item| %>
              <tr>
                <td><%= link_to bling_order_item.id, bling_order_item_path(bling_order_item), data: { toggle: 'tooltip', turbo: false } %></td>
                <td><%= bling_order_item.bling_order_id %></td>
                <td><%= bling_order_item.bling_id %></td>
                <td><%= bling_order_item.situation_id %></td>
                <td><%= bling_order_item.store_id %></td>
                <td><%= bling_order_item.marketplace_code_id %></td>
                <td><%= bling_order_item.date %></td>
                <td>
                  <%= link_to icon('fas fa-eye'), bling_order_item, title: t('show'), class: 'btn btn-info', data: { toggle: 'tooltip', turbo: false } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

