<%= form_for @revenue_estimation, :html => { :class => "form-horizontal product", :multipart => true } do |f| %>

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>

  <% if @revenue_estimation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@revenue_estimation.errors.count, "error") %> prohibited this product from being
          saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @revenue_estimation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-6">
      <%= f.label :month, :class => 'control-label' %>
      <%= f.number_field :month, :class => 'form-control', value: f.object.date&.month %>
    </div>

    <div class="form-group col-6">
      <%= f.label :revenue, :class => 'control-label' %>
      <%= f.text_field :revenue, :class => 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= f.label :quantity, :class => 'control-label' %>
      <%= f.number_field :quantity, :class => 'form-control', disabled: true %>
    </div>

    <div class="form-group col-6">
      <%= f.label :average_ticket, :class => 'control-label' %>
      <%= f.text_field :average_ticket, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit t('save'), :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  revenue_estimations_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
