<%- model_class = RevenueEstimation -%>
<div class="section-header">
  <div class="page-header">
    <h1><%= t 'activerecord.models.revenue_estimations.other', :default => t(model_class.model_name.human.pluralize.titleize) %></h1>
  </div>
</div>

<div class="section-body">

  <%= link_to t('.new', :default => t("helpers.links.new")), new_revenue_estimation_path, :class => 'btn btn-primary mb-3' %>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag :revenue_estimations do %>
        <div class="table-responsive">

          <div class="loading-container">
            <div class="loading-element"> Loading...</div>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:date) %></th>
              <th><%= model_class.human_attribute_name(:quantity) %></th>
              <th><%= model_class.human_attribute_name(:revenue) %></th>
              <th><%= model_class.human_attribute_name(:average_ticket) %></th>
            </tr>
            </thead>
            <tbody>

            <% @revenue_estimations.each do |revenue_estimation| %>
              <%#= turbo_stream revenue_estimation do %>
              <%= tag.tr id: dom_id(revenue_estimation) do %>
                <td><%= revenue_estimation.date %></td>
                <td><%= revenue_estimation.quantity %></td>
                <td><%= number_to_currency_pt_br revenue_estimation.revenue %></td>
                <td><%= number_to_currency_pt_br revenue_estimation.average_ticket %></td>
                <td>
                  <%= link_to icon('fas fa-pencil-alt'), edit_revenue_estimation_path(revenue_estimation), title: t('edit'), class: 'btn btn-primary', data: { toggle: 'tooltip', turbo: false } %>
                  <%= link_to icon('fas fa-trash'), revenue_estimation, title: t('destroy'), class: 'btn btn-danger', method: :delete, data: { :confirm => t('confirm'), toggle: 'tooltip', turbo: true, turbo_method: :delete, turbo_confirm: t('confirm'), turbo_frame: :_self } %>
                </td>
              <% end %>
              <%# end %>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>