<div id="<%= dom_id finance_datum %>">
  <p>
    <strong>Date:</strong>
    <%= finance_datum.date %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= finance_datum.income %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= finance_datum.expense %>
  </p>

  <p>
    <strong>Fixed amount:</strong>
    <%= finance_datum.fixed_amount %>
  </p>

</div>
