<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= store.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= store.email %>
  </p>

</div>
