<div class="container">
  <% @groups.each do |group|%>
    <div class="col-sm-6 col-md-6 thumbnail">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <% 
            sum_purchase = 0
            sum_sale = 0
          %>
          <% group.group_products.each do |group_product| %>
              <%
                sum_purchase += group_product.product.count_purchase_product
                sum_sale += group_product.product.count_sale_product
              %>
              <tr>
                <td><%= group_product.product.custom_id %></td>
                <td><%= group_product.product.name.titleize %></td>
                <td><%= group_product.product.count_purchase_product %></td>
                <td><%= group_product.product.count_sale_product %></td>
                <td><%= group_product.product.count_purchase_product.to_i - group_product.product.count_sale_product.to_i %></td>
              </tr>
          <% end %>
        </tbody>
        <h3>Nome do Grupo: <%= group.description.titleize %></h3>
        <h2><center><%= image_tag(group.group_products.first.product.image.attached? ? group.group_products.first.product.image : group.group_products.first.product.image_url || "https://purple-stock.s3-sa-east-1.amazonaws.com/images.png", size: "150") %></center></h2>
        <table class="table table-bordered">
          <tr>
            <td>Entrada: <%= sum_purchase %></td>
            <td>Saída: <%= sum_sale %></td>
            <td>Saldo: <%= sum_purchase - sum_sale %></td>
          </tr>
        </table>
      </table>
    </div>
  <% end %>
</div>