<%= form_for @purchase, :html => { :class => "form-horizontal purchase" } do |f| %>

  <% if @purchase.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being
          saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @purchase.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-8">
      <%= f.label t('purchases.supplier'), :class => 'control-label' %>
      <%= f.select :supplier_id, Supplier.all.collect { |p| [p.name, p.id] }, { :include_blank => t('purchases.select.supplier') }, :class => "form-control select2-list" %>
    </div>

    <div class="form-group col-4">
      <%= f.label t('purchases.value'), :class => 'control-label' %>
      <%= f.text_field :value, :class => 'form-control' %>
    </div>
  </div>

  <h4><%= t('purchases.one') %></h4>
  <div class="form-group">
    <div id="purchase_products">
      <%= f.fields_for :purchase_products do |purchase_product| %>
        <%= render 'purchase_product_fields', f: purchase_product %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t('purchases.add_products'), f, :purchase_products, class: 'btn btn-success' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit t('purchases.submit'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), purchases_path, :class => 'btn btn-default' %>
  </div>

<% end %>
