<div class="nested-fields">
  <div class="form-row">
    <div class="form-group col-8">
      <%= f.label t(:product_id), :class => 'control-label' %>
      <%= f.select :product_id, Product.all.collect { |p| ["#{p.custom_id} - #{p.name} - #{p.price}", p.id] }, { :include_blank => 'Selecione um Produto' }, :class => "form-control form-control-sm" %>
    </div>
    <div class="form-group col-4">
      <%= f.label t(:quantity), :class => 'control-label' %>
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <%= f.label t(:value), :class => 'control-label' %>
      <%= f.text_field :value, :class => 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= f.label t(:store_entrance), :class => 'control-label' %>
      <%= f.select :store_entrance, PurchaseProduct.store_entrances.keys.to_a, { :include_blank => 'Selecione a loja' }, :class => "form-control form-control-sm" %>
    </div>
  </div>

  <%= link_to_remove_association "Remover Produto", f, class: 'btn btn-danger' %>

  <hr>
</div>