<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg main-navbar">
    <form class="form-inline me-auto">
      <ul class="navbar-nav me-3">
        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
        <li><a href="#" data-bs-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
      </ul>
    </form>
    <ul class="navbar-nav navbar-right">
      <li class="dropdown">
        <%= form_tag set_locale_path, method: :get, id: 'set_locale', class: 'me-2' do %>
          <%= select_tag :locale, options_for_select(I18n.available_locales.map{ |locale| [ t('language_name', locale: locale), locale.to_s]}), 
          {class: "form-select", prompt: t('select_idiom'), onchange: "this.form.submit()", id: 'set_locale'} %>
        <% end %>
      </li>
      <li class="dropdown">
        <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <%= image_tag('avatar/avatar-1.png', alt: 'user', class: 'rounded-circle me-1') %>
          <div class="d-none d-lg-inline-block">Olá, <%= current_user.email %></div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><div class="dropdown-title">Bem-vindo</div></li>
          <li><%= link_to edit_user_registration_path, class: "dropdown-item has-icon" do %>
            <i class="far fa-user"></i> Perfil
          <% end %></li>
          <li><%= link_to integrations_list_path, class: "dropdown-item has-icon" do %>
            <i class="fas fa-cogs"></i> Integrações
          <% end %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item has-icon text-danger', data: { turbo_method: :delete } do %>
            <i class="fas fa-sign-out-alt"></i> Sair
          <% end %></li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>
