<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg main-navbar">
    <ul class="navbar-nav mr-3">
      <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
      <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
    </ul>
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="navbar-nav navbar-right">      
        <%= form_tag set_locale_path, method: :get, id: 'set_locale' do %>
         <%= select_tag :locale, options_for_select(I18n.available_locales.map{ |locale|
          [I18n.t('language_name', locale: locale), locale.to_s]}), {class: "form-control", prompt: t('select_language'), onchange: "this.form.submit()", id: 'set_locale'} %>
        <% end %>        
      </li>    

      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <%= image_tag('avatar/avatar-1.png', class: 'rounded-circle mr-1') %>
          <div class="d-sm-none d-lg-inline-block">Olá, <%= current_user.email %></div>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-title">Bem-vindo</div>
          <a href="<%= edit_user_registration_path %>" class="dropdown-item has-icon">
            <i class="far fa-user"></i> Perfil
          </a>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item has-icon text-danger', data: { turbo_method: :delete } do %>
            <i class="fas fa-sign-out-alt"></i> Sair
          <% end %>
        </div>
      </li>
    </ul>    
  </nav>
<% end %>
