<% if user_signed_in? %>
  <div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <%= link_to current_user.account.company_name, root_path %>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <%= link_to 'OP', root_path %>
      </div>
      <ul class="sidebar-menu" data-controller="sidebar">
        <%= render 'shared/sidebar_dropdown', title: t("dashboards.title"), icon: 'fas fa-tachometer-alt' do %>
          <li class="<%= active_nav_item('home', 'index') %>">
            <%= link_to t("dashboards.one"), root_path, class: 'nav-link' %>
          </li>
          <li class="<%= active_nav_item('shein_orders', 'index') %>">
            <%= link_to t("dashboards.two"), shein_orders_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="<%= active_nav_item('home', 'last_updates') %>">
          <%= link_to home_last_updates_path, class: "nav-link" do %>
            <i class="fas fa-history"></i> <span>Últimas atualizações</span>
          <% end %>
        </li>

        <li class="menu-header">Opções</li>
          <%= render 'shared/sidebar_dropdown', title: t("categories.two"), icon: 'fas fa-th-list' do %>
            <li class="<%= active_nav_item('categories', 'index') %>">
              <%= link_to t("categories.list"), categories_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('categories', 'new') %>">
              <%= link_to t("categories.create"), new_category_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("products.two"), icon: 'fas fa-box-open' do %>
            <li class="<%= active_nav_item('products', 'index') %>">
              <%= link_to t("products.list"), products_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('products', 'new') %>">
              <%= link_to t("products.create"), new_product_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("stores.two"), icon: 'fas fa-store' do %>
            <li class="<%= active_nav_item('stores', 'index') %>">
              <%= link_to t("stores.list"), stores_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('stores', 'new') %>">
              <%= link_to t("stores.create"), new_store_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("suppliers.two"), icon: 'fas fa-truck' do %>
            <li class="<%= active_nav_item('suppliers', 'index') %>">
              <%= link_to t("suppliers.list"), suppliers_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('suppliers', 'new') %>">
              <%= link_to t("suppliers.create"), new_supplier_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("entries.two"), icon: 'fas fa-warehouse' do %>
            <li class="<%= active_nav_item('purchase_products', 'index') %>">
              <%= link_to t("entries.list"), purchase_products_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('purchase_products', 'new') %>">
              <%= link_to t("entries.create"), new_purchase_product_path, class: 'nav-link' %>
              <%#= link_to 'Transferência de estoque', stock_transfer_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("exits.two"), icon: 'fas fa-sign-out-alt' do %>
            <li class="<%= active_nav_item('sale_products', 'index') %>">
              <%= link_to t("exits.list"), sale_products_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('sale_products', 'new') %>">
              <%= link_to t("exits.create"), new_sale_product_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("sales.two"), icon: 'fas fa-shopping-cart' do %>
            <li class="<%= active_nav_item('sales', 'index') %>">
              <%= link_to t("sales.list"), sales_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('sales', 'new') %>">
              <%= link_to t("sales.create"), new_sale_path, class: 'nav-link' %>
            </li>
          <% end %>
          <%= render 'shared/sidebar_dropdown', title: t("customers.two"), icon: 'fas fa-users' do %>
            <li class="<%= active_nav_item('customers', 'index') %>">
              <%= link_to t("customers.list"), customers_path, class: 'nav-link' %>
            </li>
            <li class="<%= active_nav_item('customers', 'new') %>">
              <%= link_to t("customers.create"), new_customer_path, class: 'nav-link' %>
            </li>
          <% end %>
        <li class="menu-header">Gerencial</li>
        <%= render 'shared/sidebar_dropdown', title: t("audits.two"), icon: 'fas fa-chart-line' do %>
          <li class="<%= active_nav_menu_item([show_pending_orders_path]) %>">
            <%= link_to t("audits.pendings"), show_pending_orders_path, class: 'nav-link' %>
          </li>
          <li class="<%= active_nav_menu_item([show_orders_products_stock_path]) %>">
            <%= link_to t("audits.products"), show_orders_products_stock_path, class: 'nav-link' %>
          </li>
          <li class="<%= active_nav_menu_item([reports_daily_sale_path]) %>">
            <%= link_to t("audits.daily"), reports_daily_sale_path, class: 'nav-link' %>
          </li>
        <% end %>

        <li class="menu-header">Estimativas</li>
        <%= render 'shared/sidebar_dropdown', title: t("activerecord.models.revenue_estimations.other"), icon: 'fas fa-chart-line' do %>
          <li class="<%= active_nav_menu_item([revenue_estimations_path]) %>">
            <%= link_to t("activerecord.models.revenue_estimations.other"), revenue_estimations_path, class: 'nav-link' %>
          </li>
          <!--          <li class="<%#= active_nav_menu_item([show_orders_business_day_path]) %>">-->
          <%#= link_to 'Tempo dos pedidos', show_orders_business_day_path, class: 'nav-link' %>
          <!--          </li>-->
          <!--          <li class="<%#= active_nav_menu_item([show_orders_control_path]) %>">-->
          <%#= link_to 'Controle de Pedidos Online', show_orders_control_path, class: 'nav-link' %>
          <!--          </li>-->
        <% end %>
        </li>
        <!--        <li class="menu-header">Planos</li>-->
        <%#= render 'shared/sidebar_dropdown', title: 'Métodos de pagamento', icon: 'fas fa-file-alt' do %>
        <!--          <li class="<%#= active_nav_item('reports', crud_actions) %>">-->
        <%#= link_to 'Pagar', payment_path, class: 'nav-link' %>
        <!--          </li>-->
        <%# end %>
        <!--        </li>-->
      </ul>
    </aside>
  </div>
<% end %>
