<div class="nested-fields">
  <div class="row">
    <div class="col-md-6">
      <%= f.label :product_id, ProductionProduct.human_attribute_name(:product), class: 'form-label' %>
      <%= f.collection_select :product_id, Product.all, :id, :name, { include_blank: true }, { class: 'form-control', required: true } %>
    </div>
    <div class="col-md-4">
      <%= f.label :quantity, ProductionProduct.human_attribute_name(:quantity), class: 'form-label' %>
      <%= f.number_field :quantity, class: 'form-control', min: 1, required: true %>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <%= link_to_remove_association t('actions.remove'), f, class: 'btn btn-danger' %>
    </div>
  </div>
</div>