<div class="nested-fields">
  <div class="col-md-12">
    <div class="row mb-3">
      <!-- Product Select Dropdown -->
      <div class="col-md-6">
        <%= f.label :product_id, t('activerecord.attributes.production_product.product_id') %>
        <%= f.collection_select :product_id, Product.all, :id, :name, { include_blank: true }, { class: 'form-control' } %>
      </div>

      <!-- Quantity Input -->
      <div class="col-md-2">
        <%= f.label :quantity, t('activerecord.attributes.production_product.quantity') %>
        <%= f.number_field :quantity, class: 'form-control' %>
      </div>

      <!-- Remove Button -->
      <div class="col-md-2 d-flex align-items-end">
        <%= link_to_remove_association t('actions.remove_product'), f, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
