<br><br>
<h1>Verify Production</h1>

<%- model_class = Production -%>
<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= t '.title', :default => t("Edit #{model_class.model_name.human.titleize}") %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Productions', productions_path %></div>
      <div class="breadcrumb-item">Edit Production</div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Edit Production</h4>
      </div>
      <div class="card-body">
        <%= form_with(model: @production, local: true) do |form| %>
          <div class="row mb-3">
            <div class="col-md-3">
              <%= form.label :service_order_number, model_class.human_attribute_name(:service_order_number), class: 'form-label' %>
              <%= form.text_field :service_order_number, class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <%= form.label :tailor_id, model_class.human_attribute_name(:tailor), class: 'form-label' %>
              <%= form.collection_select :tailor_id, @tailors, :id, :name, { prompt: 'Select a tailor' }, { class: 'form-control' } %>
            </div>
            <div class="col-md-3">
              <%= form.label :cut_date, model_class.human_attribute_name(:cut_date), class: 'form-label' %>
              <%= form.date_field :cut_date, class: 'form-control', readonly: true %>
            </div>
            <div class="col-md-3">
              <%= form.label :expected_delivery_date, model_class.human_attribute_name(:expected_delivery_date), class: 'form-label' %>
              <%= form.date_field :expected_delivery_date, class: 'form-control' %>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <%= form.label :consider, model_class.human_attribute_name(:consider), class: 'form-check-label' %>
              <%= form.check_box :consider, class: 'form-check-input' %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <%= form.label :confirmed, model_class.human_attribute_name(:confirmed), class: 'form-check-label' %>
              <%= form.check_box :confirmed, class: 'form-check-input' %>
            </div>
            <div class="col-md-4">
              <%= form.label :paid, model_class.human_attribute_name(:paid), class: 'form-check-label' %>
              <%= form.check_box :paid, class: 'form-check-input' %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <%= form.label :observation, model_class.human_attribute_name(:observation), class: 'form-label' %>
              <%= form.text_area :observation, class: 'form-control' %>
            </div>
          </div>

          <h3><%= t('productions.edit.products') %></h3>
          <div id="production-products">
            <%= form.fields_for :production_products do |pp_form| %>
              <%= render 'production_product_fields', f: pp_form %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Product', form, :production_products, 
                  partial: 'production_product_fields',
                  class: 'btn btn-success mb-3' %>
            </div>
          </div>

          <%= form.submit t('helpers.submit.update'), class: 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), production_path(@production), class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.select2').select2();

      // Initialize Select2 for dynamically added fields
      $('#production-products').on('cocoon:after-insert', function() {
        $('.select2').select2();
      });
    });
  </script>
<% end %>
