<%- model_class = Production -%>
<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= t '.title', :default => t(model_class.model_name.human.titleize) %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Productions', productions_path %></div>
      <div class="breadcrumb-item">Show Production</div>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Download Service Order PDF', service_order_pdf_production_path(@production), class: 'btn btn-primary', target: '_blank' %>
    <%= link_to 'Download Payment Order PDF', payment_order_pdf_production_path(@production), class: 'btn btn-success', target: '_blank' %>
  </div>
  
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Detalhes Costureiro</h4>
      </div>
      <div class="card-body">
        <% if @production.tailor.present? %>
          <p>Nome: <%= @production.tailor.name %></p>
        <% else %>
          <p>No tailor associated with this production.</p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Dados Produção</h4>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:service_order_number) %>:</dt>
          <dd class="col-sm-9"><%= @production.service_order_number %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:cut_date) %>:</dt>
          <dd class="col-sm-9"><%= pt_only_date_format(@production.cut_date) %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:expected_delivery_date) %>:</dt>
          <dd class="col-sm-9"><%= pt_only_date_format(@production.expected_delivery_date) %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:payment_date) %>:</dt>
          <dd class="col-sm-9"><%= pt_only_date_format(@production.payment_date) if @production.payment_date %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:confirmed) %>:</dt>
          <dd class="col-sm-9"><%= @production.confirmed ? 'Sim' : 'Não' %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:paid) %>:</dt>
          <dd class="col-sm-9"><%= @production.paid ? 'Sim' : 'Não' %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:observation) %>:</dt>
          <dd class="col-sm-9"><%= @production.observation %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:notions_cost) %>:</dt>
          <dd class="col-sm-9"><%= number_to_currency(@production.notions_cost || 0) %></dd>
          <dt class="col-sm-3"><%= model_class.human_attribute_name(:fabric_cost) %>:</dt>
          <dd class="col-sm-9"><%= number_to_currency(@production.fabric_cost || 0) %></dd>
          <dt class="col-sm-3"><%= t('productions.show.price_per_piece') %>:</dt>
          <dd class="col-sm-9">
            <% total_cost = (@production.notions_cost || 0) + (@production.fabric_cost || 0) + (@production.total_price || 0) %>
            <% total_quantity = @production.production_products.sum(:quantity) %>
            <%= number_to_currency(total_cost / total_quantity) if total_quantity > 0 %>
          </dd>
        </dl>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Detalhes dos Produtos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Desconto</th>
                <th>Preço Total</th>
                <th>Peças Entregues</th>
                <th>Sujo</th>
                <th>Erro</th>
                <th>Descarte</th>
                <th>Quantidade Devolvida</th>
                <th>Peças Faltantes</th>
                <th>Data de Entrega</th>
                <th>Devolvido</th>
              </tr>
            </thead>
            <tbody>
              <% @production.production_products.each do |pp| %>
                <tr>
                  <td><%= pp.product&.name || 'Nenhum produto atribuído' %></td>
                  <td><%= pp.quantity %></td>
                  <td><%= number_to_currency(pp.unit_price) %></td>
                  <td>
                    <% if pp.unit_price %>
                      <%= number_to_currency(pp.unit_price * ((pp.dirty || 0) + (pp.error || 0) + (pp.discard || 0))) %>
                    <% else %>
                      N/A
                    <% end %>
                    <% if pp.returned %>
                      <br>
                      <%= number_to_currency(pp.total_price) %>
                    <% end %>
                  </td>
                  <td><%= number_to_currency(pp.total_price) %></td>
                  <td><%= pp.pieces_delivered || 0 %></td>
                  <td><%= pp.dirty || 0 %></td>
                  <td><%= pp.error || 0 %></td>
                  <td><%= pp.discard || 0 %></td>
                  <td><%= pp.returned ? pp.quantity : 0 %></td>
                  <td>
                    <%= pp.quantity - ((pp.pieces_delivered || 0) + (pp.dirty || 0) + (pp.error || 0) + (pp.discard || 0)) %>
                  </td>
                  <td><%= pt_only_date_format(pp.delivery_date) || 'Não informado' %></td>
                  <td><%= pp.returned ? 'Yes' : 'No' %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th>Total da Produção</th>
                <td><%= @production.production_products.sum(:quantity) %></td>
                <td></td>
                <td>
                  <%= number_to_currency(@production.production_products.sum { |pp| pp.unit_price * (pp.dirty + pp.error + pp.discard) }) %>
                  <br>
                  <%= number_to_currency(@production.production_products.where(returned: true).sum(:total_price)) %>
                </td>
                <td><%= number_to_currency(@production.total_price) %></td>
                <td><%= @production.production_products.sum(:pieces_delivered) %></td>
                <td><%= @production.production_products.sum(:dirty) %></td>
                <td><%= @production.production_products.sum(:error) %></td>
                <td><%= @production.production_products.sum(:discard) %></td>
                <td><%= @production.production_products.where(returned: true).sum(:quantity) %></td>
                <td>
                  <%= @production.production_products.sum { |pp| 
                    pp.quantity - ((pp.pieces_delivered || 0) + (pp.dirty || 0) + (pp.error || 0) + (pp.discard || 0))
                  } %>
                </td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), productions_path, :class => 'btn btn-secondary' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_production_path(@production), :class => 'btn btn-warning' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), production_path(@production), :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<% content_for(:page_title, 'Show Production') %>


