<div class="row justify-content-center">
  <% if order_items.present? %>
  <% order_items.each do |store_name, items| %>
    <% orders = items.group_by(&:bling_order_id).compact %>
     <div class="col-md-12">
     <% if orders.count > 0 %>
        <div class="card mb-12">
          <div class="card-body text-center <%= 'bg-danger text-dark' if printed %>">
            <h5 class="card-title">
              <%= store_name %>
            </h5>
            <% if @monthly_revenue_estimation.present? && show_revenue_estimation %>
              <p>
                Meta de Pedidos: <%= @monthly_revenue_estimation.daily_quantity %>
              </p>
            <% end %>
            <p>
              Pedidos: <%= orders&.count %>
            </p>
            <% if store_name.eql?('Mercado Livre') %>
              <p>
                Mercado Envios Flex: <%= @mercado_envios_flex_counts %>
              </p>
            <% end %>
          </div>
        </div>
     <% else %>
        <div class="card card-body text-center">
          <h5 class="card-title">
            <%= store_name %>
          </h5>
          <p class="<%= 'text-success' if printed %>">
            Pedidos: 0
          </p>
        </div>
     <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="col-md-12">
        <div class="card mb-12">
          <div class="card-body text-center">
            <p>
              Os pedidos aparecerão aqui
            </p>
          </div>
        </div>
      </div>
  <% end %>
  <div class="col-md-12">
    <div class="card mb-12">
      <div class="card-body text-center <%= 'bg-danger text-dark' if printed && !order_items.values.flatten.length.zero? %>">
        <h5 class="card-title">
          Contagem total
        </h5>
        <p class="<%= 'text-success' if printed && order_items.values.flatten.length.zero? %>">
          <%= order_items.values.flatten.length %>
        </p>
      </div>
    </div>
  </div>
</div>