<div class="container">
  <br><br><br>
  <% if @monthly_revenue_estimation.present? %>
    <p>A meta da quantidade a ser vendida nesse mês é de: <%= @monthly_revenue_estimation.quantity %>.
      Baseados em uma meta da receita de: <%= number_to_currency_pt_br @monthly_revenue_estimation.revenue %>
      e com um ticket médio de: <%= number_to_currency_pt_br @monthly_revenue_estimation.average_ticket %></p>
  <% else %>
    <p><%= link_to 'Estimar quantidade esperadas para o mês atual', new_revenue_estimation_path %></p>
  <% end %>

  <div class="container">
    <h1>Pedidos de Hoje</h1>
    <p>Última Atualização: <%= @last_update %></p>
    <p>Token Expira: <%= @expires_at %></p>
    <div class="row justify-content-center">
      <% @current_order_items.group_by(&:store_id).each do |store_id, items| %>
        <% loja_name = items.first.store_name %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="card-title">
                <%= loja_name %>
              </h5>
              <% if @monthly_revenue_estimation.present? %>
                <p>
                  Meta de Pedidos: <%= @monthly_revenue_estimation.daily_quantity %>
                </p>
            <% end %>
              <p>
                Pedidos: <%= items.group_by(&:bling_order_id).compact.count %>
              </p>
              <p>
                Total: <%= number_to_currency_pt_br items.sum(&:valor) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if @current_order_items.blank? %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <p>
                Os pedidos do dia aparecerão aqui
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <br><br><br>
    <h1>Status Shein</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">
              Pedidos a ser coletados
            </h5>
            <p>
              Quantidade de Pedidos: <%= @shein_orders_count %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">
              Status dos Pedidos Atrasados
            </h5>
            <p>
              Quantidade de Pedidos: <%= @expired_orders_count %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h1>Pedidos Em andamento(Pagos)</h1>

  <%= render 'order_items', order_items: @in_progress_order_items if @in_progress_order_items.present? %>

  <h1>Pedidos Feitos de Hoje(Checados e Verificados)</h1>

  <%= render 'order_items', order_items: @current_done_order_items if @current_done_order_items.present? %>

</div>

<div class="container">
  <br><br><br>
  <h1>Pedidos Impressos</h1>


  <div class="row justify-content-center">

    <% @loja_ids.each do |loja_id| %>
    
      <% loja_name = @store_name[loja_id] %>
      
      <% printed_orders = @printed_orders&.select { |o| o["loja"]["id"] == loja_id } %>
      
      <div class="col-md-4">

        <div class="card mb-4">
        
          <div class="card-body text-center <%= 'bg-danger' if loja_id == 204_061_683 && @mercado_envios_flex_counts.present? && @mercado_envios_flex_counts >= 1 %>">
          
            <h5 class="card-title">
              <%= loja_name %>
            </h5>

            <p>
              Pedidos: <%= printed_orders&.count %>
            </p>
        
          </div>
        
        </div>
      
      </div>

    <% end %>

  </div>

</div>

<div class="container">
  <br><br><br>
  <h1>Pedidos Pendentes</h1>

  <div class="row justify-content-center">
    <% @loja_ids.each do |loja_id| %>
      <% loja_name = @store_name[loja_id] %>
      <% pending_orders = @pending_orders&.select { |o| o["loja"]["id"] == loja_id } %>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center <%= 'bg-danger' if loja_id == 204_061_683 && @mercado_envios_flex_counts.present? && @mercado_envios_flex_counts >= 1 %>">
            <h5 class="card-title">
              <%= loja_name %>
            </h5>
            <p>
              Pedidos: <%= pending_orders&.count %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
<script>
  setInterval(function() {
      window.location.reload();
  }, 60000);
</script>