<div class="container">
  <br><br><br>
  <h1>Pedidos Pendentes</h1>

  <p>Última Atualização: <%= @last_update %></p>

  <p>Token Expira: <%= @expires_at %></p>

  <div class="row justify-content-center">

    <% @loja_ids.each do |loja_id| %>
    
      <% loja_name = @store_name[loja_id] %>
      
      <% orders = @orders.select { |o| o["loja"]["id"] == loja_id } %>
      
      <div class="col-md-4">

        <div class="card mb-4">
        
          <div class="card-body text-center <%= 'bg-danger' if loja_id == 204_061_683 && @mercado_envios_flex_counts >= 1 %>">
          
            <h5 class="card-title">
              <%= loja_name %>
            </h5>

            <p>
              Pedidos: <%= orders.count %>
            </p>

            <% if loja_id == 204_061_683 %>
            
              <p>
                Mercado Envios Flex: <%= @mercado_envios_flex_counts %>  
              </p>
            
            <% end %>
        
          </div>
        
        </div>
      
      </div>

    <% end %>

  </div>

</div>