<div class="container">
  <br><br><br>
  <h1>Pedidos Em andamento(Pagos)</h1>
  
  <p>Última Atualização: <%= @last_update %></p>

  <p>Token Expira: <%= @expires_at %></p>

  <div class="row justify-content-center">

    <% @loja_ids.each do |loja_id| %>
    
      <% loja_name = @store_name[loja_id] %>
      
      <% orders = @orders.select { |o| o["loja"]["id"] == loja_id } %>
      
      <div class="col-md-4">

        <div class="card mb-4">
        
          <div class="card-body text-center <%= 'bg-danger' if loja_id == 204_061_683 && @mercado_envios_flex_counts >= 1 %>">
          
            <h5 class="card-title">
              <%= loja_name %>
            </h5>

            <p>
              Pedidos: <%= orders.count %>
            </p>

            <% if loja_id == 204_061_683 %>
            
              <p>
                Mercado Envios Flex: <%= @mercado_envios_flex_counts %>  
              </p>
            
            <% end %>
        
          </div>
        
        </div>
      
      </div>

    <% end %>

  </div>

</div>
<div class="container">
  <br><br><br>
  <h1>Pedidos de Hoje</h1>
  <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center">
              <p>
                Total de pedidos de hoje: <%= @current_order_items.count %>
              </p>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <br><br><br>
  <h1>Pedidos Impressos</h1>


  <div class="row justify-content-center">

    <% @loja_ids.each do |loja_id| %>
    
      <% loja_name = @store_name[loja_id] %>
      
      <% printed_orders = @printed_orders.select { |o| o["loja"]["id"] == loja_id } %>
      
      <div class="col-md-4">

        <div class="card mb-4">
        
          <div class="card-body text-center <%= 'bg-danger' if loja_id == 204_061_683 && @mercado_envios_flex_counts >= 1 %>">
          
            <h5 class="card-title">
              <%= loja_name %>
            </h5>

            <p>
              Pedidos: <%= printed_orders.count %>
            </p>
        
          </div>
        
        </div>
      
      </div>

    <% end %>

  </div>

</div>

<div class="container">
  <br><br><br>
  <h1>Pedidos Pendentes</h1>

  <div class="row justify-content-center">
    <% @loja_ids.each do |loja_id| %>
      <% loja_name = @store_name[loja_id] %>
      <% pending_orders = @pending_orders.select { |o| o["loja"]["id"] == loja_id } %>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center <%= 'bg-danger' if loja_id == 204_061_683 && @mercado_envios_flex_counts >= 1 %>">
            <h5 class="card-title">
              <%= loja_name %>
            </h5>
            <p>
              Pedidos: <%= pending_orders.count %>
            </p>
            <%
=begin%>
 <% if pending_orders.any? %>
              <h6>Itens:</h6>
              <% codigo_to_bling_ids = Hash.new { |h, k| h[k] = [] } %>
              <% pending_orders.each do |order| %>
                <% order_id = order["id"] %>
                <% bling_order_item = BlingOrderItem.find_by(bling_order_id: order_id) %>
                <% if bling_order_item %>
                  <% codigo = bling_order_item.codigo %>
                  <% bling_order_id = bling_order_item.bling_order_id %>
                  <% codigo_to_bling_ids[codigo] << bling_order_id %>
                <% end %>
              <% end %>
              <% ordered_codigos = codigo_to_bling_ids.keys.sort_by { |codigo| -codigo_to_bling_ids[codigo].size } %>
              <ul>
                <% ordered_codigos.each do |codigo| %>
                  <% bling_ids = codigo_to_bling_ids[codigo] %>
                  <li>
                    <a href="#" data-toggle="collapse" data-target="#collapse<%= loja_id %>-<%= codigo %>">
                      <strong>Código:</strong> <%= codigo %> (Quantidade Total: <%= bling_ids.size %>)
                    </a>
                    <div id="collapse<%= loja_id %>-<%= codigo %>" class="collapse">
                      <strong>Links:</strong><br>
                      <% bling_ids.each do |bling_id| %>
                        <a href='https://www.bling.com.br/vendas.php#edit/<%= bling_id %>'>Pedido: <%= bling_id %></a>
                        <br>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %> 
<%
=end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
<script>
  setInterval(function() {
      window.location.reload();
  }, 60000);
</script>