<%- model_class = Customer -%>
<div class="section-header">
  <div class="page-header">
    <h1><%= t '.title', :default => t(model_class.model_name.human.pluralize.titleize) %></h1>
  </div>
</div>

<%= render 'import' %>

<div class="section-body">

  <%= link_to t('.new', :default => t("helpers.links.new")), new_customer_path, :class => 'btn btn-primary mb-3' %>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag :customers do %>
        <div class="table-responsive">
          <table id="stockTable" class="table table-striped">
            <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(t(:name)) %></th>
              <th><%= model_class.human_attribute_name(:email) %></th>
              <th><%= model_class.human_attribute_name(t(:cellphone)) %></th>
              <th><%= model_class.human_attribute_name(t(:phone)) %></th>
              <th><%= model_class.human_attribute_name(:cpf) %></th>
              <th><%= model_class.human_attribute_name(t(:created_at)) %></th>
              <th><%= t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody>
            <% @customers.each do |customer| %>
              <%= tag.tr id: dom_id(customer) do %>
                <td><%= link_to customer.id, customer_path(customer) %></td>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td><%= number_to_phone(customer.cellphone, pattern: /(\d{1,4})(\d{5})(\d{4})$/, area_code: true) %></td>
                <td><%= number_to_phone(customer.phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></td>
                <td><%= customer.cpf %></td>
                <td><%= df(customer.created_at) %></td>
                <td>
                  <%= link_to icon('fas fa-pencil-alt'), edit_customer_path(customer), title: t('edit'), class: 'btn btn-primary', data: { toggle: 'tooltip', turbo: false } %>
                  <%= link_to icon('fas fa-eye'), customer, title: t('show'), class: 'btn btn-info', data: { toggle: 'tooltip', turbo: false } %>
                  <%= link_to icon('fas fa-trash'), customer, title: t('destroy'), class: 'btn btn-danger', method: :delete, data: { toggle: 'tooltip', turbo: true, turbo_method: :delete, turbo_confirm: t('confirm') } %>
                </td>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
