<%- model_class = SaleProduct -%>
<div class="section-header">
  <div class="page-header">
    <h1><%= t('sales_products.two') %></h1>
  </div>
</div>

<div class="section-body">

  <%= link_to t('.new', :default => t("helpers.links.new")), new_sale_product_path, :class => 'btn btn-primary mb-3' %>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag :categories do %>
      <div class="table-responsive">

        <table id="stockTable" class="table table-striped">
          <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= t('sales_products.image') %></th>
            <th><%= t('sales_products.quantity') %></th>
            <th><%= t('sales_products.value') %></th>
            <th><%= t('sales_products.product') %></th>
            <th><%= t('sales_products.sales') %></th>
            <th><%= t('sales_products.created_at') %></th>
            <th><%= t '.actions', :default => t("helpers.actions") %></th>
          </tr>
          </thead>
          <tbody>
          <% @sale_products.each do |sale_product| %>
            <%= tag.tr id: dom_id(customer) do %>
              <td><%= link_to sale_product.id, sale_product_path(sale_product) %></td>
              <td><%= image_tag(sale_product.product.image.attached? ? sale_product.product.image : "https://purple-stock.s3-sa-east-1.amazonaws.com/images.png", size: "150") %></td>
              <td><%= sale_product.quantity %></td>
              <td><%= sale_product.value %></td>
              <td><%= sale_product.product.name %></td>
              <td><%= sale_product.sale_id %></td>
              <td><%= sale_product.created_at %></td>
              <td>
                <%= link_to icon('fas fa-pencil-alt'), edit_sale_product_path(sale_product), title: t('edit'), class: 'btn btn-primary', data: { toggle: 'tooltip', turbo: false } %>
                <%= link_to icon('fas fa-eye'), sale_product, title: t('show'), class: 'btn btn-info', data: { toggle: 'tooltip', turbo: false } %>
                <%= link_to icon('fas fa-trash'), sale_product, title: t('destroy'), class: 'btn btn-danger', method: :delete, data: { toggle: 'tooltip', turbo: true, turbo_method: :delete, turbo_confirm: t('confirm') } %>
              </td>
            <% end %>
          <% end %>
          </tbody>
        </table>

        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
      <% end %>
    </div>
  </div>
</div>

