<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card mb-12">
      <div class="card-body text-center <%= 'bg-danger text-dark' if highlighted && !order_items.values.flatten.length.zero? %>">
        <% if @monthly_revenue_estimation.present? && show_revenue_estimation %>
          <h5 class="card-title">
            Meta de Pedidos: <%= @monthly_revenue_estimation.daily_quantity %>
          </h5>
        <% end %>
        <h5 class="card-title <%= 'text-success' if highlighted && order_items.values.flatten.length.zero? %>">
          Contagem total: <%= order_items.values.flatten.length %>
        </h5>
      </div>
    </div>
  </div>
  <% order_items.each do |store_name, orders| %>
     <div class="col-md-12">
        <div class="card mb-12">
          <div class="card-body text-center <%= 'bg-danger text-dark' if highlighted && !order_items.values.flatten.length.zero? %>">
            <h5 class="card-title <%= 'text-success' if highlighted && order_items.values.flatten.length.zero? %>">
              <%= store_name %>: <%= orders&.count %>
            </h5>
            <% if store_name.eql?('Mercado Livre') %>
              <p>
                Mercado Envios Flex: <%= @mercado_envios_flex_counts %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>