<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Faturamento</h4>
        </div>
        <div class="card-body">
          <%= number_to_currency(@revenue_paid, unit: "BRL", separator: ",", delimiter: ".") %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-shopping-bag"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Vendas</h4>
        </div>
        <div class="card-body">
          <%= @quantity_paid %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Ticket Médio</h4>
        </div>
        <div class="card-body">
          <%= number_to_currency(@average_ticket.round(2), unit: "BRL", separator: ",", delimiter: ".") %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="card chart-container">
  <div class="text-small text-muted">Faturamento diário
  <div>
    <%= hidden_field_tag('daily_revenue', @daily_revenue) %>
    <canvas id='chartjs-bar-daily-revenue'></canvas>
  </div>
</section>

<div class="card mt-4">
  <div class="card-header">
    <h1>Situações dos pedidos</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col mb-4 mb-lg-0 text-center">
        <h1 class="mt-2 font-weight-bold">Em Andamento</h1>
        <h2 class="card-stats-item-count"><span class="text-primary"></span> <%= @in_progress_order_items %></h2>
      </div>
      <div class="col mb-4 mb-lg-0 text-center">
        <h1 class="mt-2 font-weight-bold">Impresso</h1>
        <h2 class="card-stats-item-count"><span class="text-primary"></span> <%= @printed_order_items %></h2>
      </div>
      <div class="col mb-4 mb-lg-0 text-center">
        <h1 class="mt-2 font-weight-bold">Pendentes</h1>
        <h2 class="card-stats-item-count"><span class="text-danger"></span> <%= @pending_order_items %></h2>
      </div>
      <div class="col mb-4 mb-lg-0 text-center">
        <h1 class="mt-2 font-weight-bold">Verificados</h1>
        <h2 class="card-stats-item-count"><%= @current_done_order_items %></h2>
      </div>
      <div class="col mb-4 mb-lg-0 text-center">
        <h1 class="mt-2 font-weight-bold">Coletados</h1>
        <h2 class="card-stats-item-count"><span class="text-primary"></span> <%= @colected_orders %></h2>
      </div>
    </div>
  </div>
</div>



<script>
    setInterval(function() {
        window.location.reload();
    }, 300000);
</script>