<main class="main-content pl-0">
  <h1>Histórico de vendas dos últimos 15 dias</h1>
  <div>
    <canvas id="chartjs-bar"></canvas>
  </div>
</main>

<section class="mt-5 section bordered-section">
  <div class="row p-4">
    <h1>Pesquisar por data</h1>
    <%= form_tag(bling_order_item_histories_path, method: :get) do %>
      <div class="input-group mb-5">
        <div class="col-sm">
          Data inicial
          <%= date_field('bling_order', 'initial_date', value: Date.today.strftime) %>
        </div>
        <div class="col-sm">
          Data final
          <%= date_field('bling_order', 'final_date', value: Date.today.strftime) %>
        </div>
        <div class="col-sm">
          <%= button_tag('Pesquisar...', class: 'btn btn-primary mb-3', id: 'daily-revenue-search',
                         data: { turbo_frame: 'daily-revenue-chart' }) %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="chart-container pl-0">
  <h1>Faturamento diário</h1>
  <div>
    <%= hidden_field_tag('daily_revenue', @daily_revenue) %>
    <canvas id='chartjs-bar-daily-revenue'></canvas>
  </div>
</section>

<script>
  $(document).ready(function (){
      function plotDailyRevenueChartBar() {
          dailyRevenueChartBar = new Chart(document.getElementById('chartjs-bar-daily-revenue'), cfg);
      }
      let dailyRevenue = $('#daily_revenue').val();
      let data = JSON.parse(dailyRevenue);
      let cfg = {
          type: 'bar',
          options: {
              maintainAspectRatio: false,
              aspectRatio: 1
          },
          data: {
              datasets: [{
                  label: 'Shein',
                  data: data,
                  parsing: {
                      yAxisKey: 'shein'
                  }
              }, {
                  label: 'Shopee',
                  data: data,
                  parsing: {
                      yAxisKey: 'shopee'
                  }
              }, {
                  label: 'Simple 7',
                  data: data,
                  parsing: {
                      yAxisKey: 'simple_7'
                  }
              },
                  {
                      label: 'Mercado Livre',
                      data: data,
                      parsing: {
                          yAxisKey: 'mercado_livre'
                      }
                  }, {
                      label: 'Total',
                      data: data,
                      parsing: {
                          yAxisKey: 'total'
                      }
                  }]
          },
      };


      let dailyRevenueChartBar;
      let options = {
          maintainAspectRatio: false,
          aspectRatio: 1,
          scales: {
              y: {
                  stacked: false,
                  grid: {
                      display: true,
                      color: "rgba(255,99,132,0.2)"
                  }
              },
              x: {
                  stacked: false,
                  grid: {
                      display: false
                  }
              }
          }
      };

      $.ajax({url: 'bling_order_item_histories/day_quantities', success: function(result){
              new Chart(
                  document.getElementById('chartjs-bar'),
                  {
                      type: 'bar',
                      options: options,
                      data: {
                          labels: result.map(row => row.day),
                          datasets: [
                              {
                                  label: 'Quantidade vendida nos últimos 15 dias',
                                  data: result.map(row => row.quantity)
                              }
                          ]
                      }
                  }
              )
      }})

      plotDailyRevenueChartBar();
  });

</script>