<%#= javascript_include_tag "grid_table", "data-turbo-track": "reload", defer: true %>
<%- model_class = Product -%>
<div class="section-header">
  <div class="page-header">
    <h1><%= t '.title', :default => t(model_class.model_name.human.pluralize.titleize) %></h1>
  </div>
</div>

<div class="section-body">

  <%= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary mb-3' %>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag :products do %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(t(:name)) %></th>
              <th><%= t('activerecord.attributes.product.sku') %></th>
              <th><%= model_class.human_attribute_name(t(:custom_id)) %></th>
              <th><%= model_class.human_attribute_name(t(:price)) %></th>
              <th><%= t('activerecord.attributes.product.count_purchase_product') %></th>
              <th><%= t('activerecord.attributes.product.count_sale_product') %></th>
              <th><%= t('activerecord.attributes.product.balance') %></th>
              <th><%= t('activerecord.attributes.product.category') %></th>
              <th><%= model_class.human_attribute_name(t(:active)) %></th>

              <th><%= t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody>
            <% @products.each do |product| %>
              <%= tag.tr id: dom_id(product) do %>
                <td><%= link_to product.id, product_path(product), data: { toggle: 'tooltip', turbo: false } %></td>
                <td><%= product.name %></td>
                <td><%= product.sku %></td>
                <td><%= product.custom_id %></td>
                <td><%= number_to_currency_pt_br(product.price) %></td>
                <td><%= product.count_purchase_product %></td>
                <td><%= product.count_sale_product %></td>
                <td><%= product.balance %></td>
                <td><%= product.category.try(:name) %></td>
                <td><%= raw display_status(product.active) %></td>
                <td>
                  <%= link_to icon('fas fa-pencil-alt'), edit_product_path(product), title: t('edit'), class: 'btn btn-primary', data: { toggle: 'tooltip', turbo: false } %>
                  <%= link_to icon('fas fa-eye'), product, title: t('show'), class: 'btn btn-info', data: { toggle: 'tooltip', turbo: false } %>
                  <%= link_to icon('fas fa-trash'), product, title: t('destroy'), class: 'btn btn-danger', method: :delete, data: { toggle: 'tooltip', turbo: true, turbo_method: :delete, turbo_confirm: t('confirm') } %>
                </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
