<br><br>
<div class="page-header">
  <h1><%=t '.title', :default => 'Gerador de etiquetas'%></h1>
</div>

<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs" id="qrCodeTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="products-tab" data-toggle="tab" href="#products" role="tab">
          <i class="fas fa-list"></i> Lista de Produtos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="skus-tab" data-toggle="tab" href="#skus" role="tab">
          <i class="fas fa-barcode"></i> Lista de SKUs
        </a>
      </li>
    </ul>

    <div class="tab-content mt-3" id="qrCodeTabContent">
      <!-- Products List Tab -->
      <div class="tab-pane fade show active" id="products" role="tabpanel">
        <%= form_tag print_tags_products_path(format: :pdf), method: :post do %>
          <div class="table-responsive mb-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= check_box_tag 'select_all', nil, false, onclick: 'toggleAll(this)' %></th>
                  <th><%=t 'activerecord.attributes.product.name' %></th>
                  <th><%=t 'activerecord.attributes.product.sku' %></th>
                  <th><%=t 'activerecord.attributes.product.category' %></th>
                </tr>
              </thead>
              <tbody>
                <% Product.where(account_id: current_tenant).each do |product| %>
                  <tr>
                    <td><%= check_box_tag 'product_ids[]', product.id, false, class: 'product-checkbox' %></td>
                    <td><%= product.name %></td>
                    <td><%= product.sku %></td>
                    <td><%= product.category&.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="form-group">
            <label for="copies"><%=t :copies_per_product %></label>
            <%= number_field_tag :copies, 1, min: 1, class: 'form-control w-auto' %>
          </div>

          <%= submit_tag t(:generate_tags), class: 'btn btn-primary' %>
        <% end %>
      </div>

      <!-- SKUs List Tab -->
      <div class="tab-pane fade" id="skus" role="tabpanel">
        <%= form_tag print_tags_by_skus_products_path(format: :pdf), method: :post do %>
          <div class="form-group">
            <label for="sku_list">Lista de SKUs (um por linha)</label>
            <%= text_area_tag :sku_list, nil, class: 'form-control', rows: 10, 
                style: 'height: 160px;', placeholder: "" %>
          </div>

          <div class="form-group">
            <label for="copies"><%=t :copies_per_product %></label>
            <%= number_field_tag :copies, 1, min: 1, class: 'form-control w-auto' %>
          </div>

          <%= submit_tag t(:generate_tags), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleAll(source) {
    const checkboxes = document.getElementsByClassName('product-checkbox');
    for (let checkbox of checkboxes) {
      checkbox.checked = source.checked;
    }
  }
</script>