<%- model_class = Product -%>
<section class="main-content">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4"><%= t('products.one') %></h1>
      <hr>
      <dl class="row">
        <dt class="col-sm-3"><%= model_class.human_attribute_name(:custom_id) %></dt>
        <dd class="col-sm-9"><%= @product.custom_id %></dd>
        <dt class="col-sm-3"><%= t('products.name') %></dt>
        <dd class="col-sm-9"><%= @product.name %></dd>
        <dt class="col-sm-3"><%= model_class.human_attribute_name(:sku) %>:</dt>
        <dd class="col-sm-9"><%= @product.sku %></dd>
        <dt class="col-sm-3"><%= t('products.name') %>:</dt>
        <dd class="col-sm-9"><%= @product.name %></dd>
        <dt class="col-sm-3"><%= t('products.price') %>:</dt>
        <dd class="col-sm-9"><%= @product.price %></dd>
        <dt class="col-sm-3"><%= t('products.entry') %>:</dt>
        <dd class="col-sm-9"><%= Services::Product::CountQuantity.call(product: @product, product_command: 'purchase_product') %></dd>
        <dt class="col-sm-3"><%= t('products.exit') %>:</dt>
        <dd class="col-sm-9"><%= Services::Product::CountQuantity.call(product: @product, product_command: 'sale_product') %></dd>
        <dt class="col-sm-3"><%= t('products.balance') %>:</dt>
        <dd class="col-sm-9"><%= Services::Product::CountQuantity.call(product: @product, product_command: 'balance_product') %></dd>
        <dt class="col-sm-3"><%= t('products.rq_code') %></dt>
        <dd class="col-sm-9"><%= image_tag(Services::Product::GenerateQrCode.call(product: @product)) %></dd>
        <dt class="col-sm-3"><%= t('products.image') %>:</dt>
        <dd class="col-sm-9"><%= image_tag(@product.image.attached? ? @product.image : "https://purple-stock.s3-sa-east-1.amazonaws.com/images.png", size: "150") %></dd>
        <dt class="col-sm-3"><%= t('products.highlight') %>:</dt>
        <dd class="col-sm-9"><%= @product.highlight %></dd>
        <dt class="col-sm-3"><%= t('products.category') %>:</dt>
        <dd class="col-sm-9"><%= @product.category.try(:name) %></dd>
        <dt class="col-sm-3"><%= t('products.active') %>:</dt>
        <dd class="col-sm-9"><%= @product.active %></dd>
      </dl>
      <%= link_to t('helpers.links.back'), products_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_product_path(@product), :class => 'btn btn-dark btn-lg' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  product_path(@product),
                  title: t('destroy'), class: 'btn btn-danger btn-lg',
                  method: :delete,
                  data: { toggle: 'tooltip', turbo: true, turbo_method: :delete, turbo_confirm: t('confirm') } %>
    </div>
  </div>
</section>