<%- model_class = Product -%>
<div class="section-header">
  <div class="page-header">
    <h1><%= t 'products.two', :default => model_class.model_name.human.titleize %></h1>
  </div>
</div>

<div class="section-body">
  <div class="card">
    <div class="card-body">

      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:custom_id) %>:</strong></dt>
        <dd><%= @product.custom_id %></dd>
        <dt><strong><%= model_class.human_attribute_name(:sku) %>:</strong></dt>
        <dd><%= @product.sku %></dd>
        <dt><strong><%= t('products.name') %>:</strong></dt>
        <dd><%= @product.name %></dd>
        <dt><strong><%= t('products.price') %>:</strong></dt>
        <dd><%= @product.price %></dd>
        <dt><strong><%= t('products.entry') %>:</strong></dt>
        <dd><%= Services::Product::CountProductService.call(@product, 'purchase_product') %></dd>
        <dt><strong><%= t('products.exit') %>:</strong></dt>
        <dd><%= Services::Product::CountProductService.call(@product, 'sale_product') %></dd>
        <dt><strong><%= t('products.balance') %>:</strong></dt>
        <dd><%= Services::Product::CountProductService.call(@product, 'balance_product') %></dd>
        <dt><strong><%= t('products.rq_code') %></strong></dt>
        <dd><%= image_tag(Product.generate_qrcode(@product).to_img.resize(300, 300).to_data_url) %></dd>
        <dt><strong><%= t('products.image') %>:</strong></dt>
        <dd><%= image_tag(@product.image.attached? ? @product.image : "https://purple-stock.s3-sa-east-1.amazonaws.com/images.png", size: "150") %></dd>
        <dt><strong><%= t('products.highlight') %>:</strong></dt>
        <dd><%= @product.highlight %></dd>
        <dt><strong><%= t('products.category') %>:</strong></dt>
        <dd><%= @product.category.try(:name) %></dd>
        <dt><strong><%= t('products.active') %>:</strong></dt>
        <dd><%= @product.active %></dd>

      </dl>

      <%= link_to t('.back', :default => t("helpers.links.back")),
                  products_path, :class => 'btn btn-default' %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_product_path(@product), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  product_path(@product),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
  </div>
</div>