<br><br><br>
<%- model_class = Supplier -%>
<div class="page-header">
  <h1><%=t 'suppliers.two', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= t('suppliers.name') %></th>
      <th><%= t('suppliers.tax_number') %></th>
      <th><%= t('suppliers.email') %></th>
      <th><%= t('suppliers.cellphone') %></th>
      <th><%= t('suppliers.phone') %></th>
      <th><%= t('suppliers.address') %></th>
      <th><%= t('suppliers.city') %></th>
      <th><%= t('suppliers.state') %></th>
      <th><%= t('suppliers.landmark') %></th>
      <th><%= t('suppliers.note') %></th>
      <th><%= t('suppliers.created_at') %></th>
      <th><%= t('suppliers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.id, supplier_path(supplier) %></td>
        <td><%= t(supplier.name) %></td>
        <td><%= t(supplier.cnpj) %></td>
        <td><%= t(supplier.email) %></td>
        <td><%= t(supplier.cellphone) %></td>
        <td><%= t(supplier.phone) %></td>
        <td><%= t(supplier.address) %></td>
        <td><%= t(supplier.city) %></td>
        <td><%= t(supplier.state) %></td>
        <td><%= t(supplier.landmark) %></td>
        <td><%= t(supplier.note) %></td>
        <td><%= t(supplier.created_at) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_path(supplier), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_path(supplier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_supplier_path,
            :class => 'btn btn-primary' %>
