<div class="page-header">
  <h1><%=t '.title', :default => 'Controle de Envios'%></h1>
</div>
<h1>Importar Arquivo Correios</h1>
<%= form_tag import_post_mail_path, multipart: true do |f| %>
  <%= file_field_tag 'files[]', multiple: true  %>
  <%= submit_tag("Importar HTML", :class => "btn btn-info") %>
<% end %>
<table id="stockTable" class="table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Nome Cliente</th>
      <th>CEP</th>
      <th>Estado</th>
      <th>Código Correios</th>
      <th>Tipo de Envio</th>
      <th>Valor</th>
      <th>Data de envio</th>
    </tr>
  </thead>
  <tbody>
    <% @post_data.each do |post| %>
      <tr>
        <td><%= post.client_name %></td>
        <td><%= post.cep %></td>
        <td><%= post.state %></td>
        <td><%= post.post_code %></td>
        <td><%= post.post_type %></td>
        <td><%= post.value %></td>
        <td><%= post.send_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>