<div class="section-header">
  <div class="page-header">
    <h1><%= t('orders_products.three') %></h1>
  </div>
</div>

<%= link_to 'Exportar para CSV', show_pending_orders_path(format: :csv, situation_id: params[:situation_id], store_id: params[:store_id]), class: 'btn btn-info' %>

<div class="container">
  <%= form_with(url: show_pending_orders_path, method: :get, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :situation_id, 'Filtro por Status' %>
      <%= form.select :situation_id, BlingOrderItem::STATUS_PENDING_NAME_KEY_VALUE.invert, { include_blank: 'Select Status', selected: params[:situation_id] }, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= form.label :store_id, 'Filtro por Loja' %>
      <%= form.select :store_id, BlingOrderItem::STORE_ID_NAME_KEY_VALUE.invert, { include_blank: 'Todas', selected: params[:store_id] }, { class: 'form-control' } %>
    </div>
    <%= form.submit 'Filtro', class: 'btn btn-primary' %>
  <% end %>

  <div class="row justify-content-center">
    <% if @pending_order_items.present? %>
      <% @pending_order_items.group_by { |item| item.bling_order_item.store_name }.each do |loja_name, items| %>
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title"><%= loja_name %></h5>
              <% items.group_by(&:sku).each do |codigo, sku_items| %>
                <% sorted_sku_items = sku_items.sort_by { |item| -item.quantity.to_i } %>
                <div>
                  <a href="#" class="btn btn-info" data-toggle="collapse" data-target=".collapse<%= codigo %>">
                    Código <%= codigo %> - <%= sorted_sku_items.sum { |item| item.quantity.to_i } %> unidades
                  </a>
                  <% sorted_sku_items.each do |item| %>
                    <div class="collapse collapse<%= codigo %> mt-2">
                      <div class="card card-body">
                        Pedido: <%= item.bling_order_item.bling_order_id %>, Quantidade: <%= item.quantity %> unidades<br>
                        <a href='https://www.bling.com.br/vendas.php#edit/<%= item.bling_order_item.bling_order_id %>'>Ver Pedido no Bling</a>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <p>Os pedidos aparecerão aqui</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
