<div class="page-header">
  <h1><%=t '.title', :default => 'Controle de Produtos dos Pedidos'%></h1>
</div>
<table id="order_table" class="table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Código Produto</th>
      <th>Nome</th>
      <th>Quantidade estoque</th>
      <th>Quantidade saída</th>
      <th>Quantidade pedidos</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.custom_id %></td>
        <td><%= product.name %></td>
        <td><%= product.balance %></td>
        <td><%= product.count_sale_product %></td>
        <td><%= product.sum_simplo_items %></td>
      </tr>
    <% end %>
  </tbody>
</table>