<div class="section-header">
  <div class="page-header">
    <h1><%= t('orders_products.three') %></h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    
    <% if @pending_order_items.present? %>
      <% @pending_order_items.group_by(&:store_id).each do |store_id, store_items| %>
        <% loja_name = store_items.first.store_name %>
        <% unknown_items = [] %>

        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="card-title">
                <%= loja_name %>
              </h5>

              <% codigo_quantity = Hash.new { |h, k| h[k] = [] } %>
              <% store_items.each do |item| %>
                <% if item.items.present? && item.items['codigo'].present? %>
                  <% codigo = item.items['codigo'] %>
                  <% codigo_quantity[codigo] << item %>
                <% else %>
                  <% unknown_items << item %>
                <% end %>
              <% end %>

              <h6>Itens:</h6>
              <% codigo_quantity.each do |codigo, items| %>
                <div>
                  <p>
                    <a href="#" data-toggle="collapse" data-target="#collapse<%= store_id %>-<%= codigo %>">
                      <strong>C처digo <%= codigo %>:</strong> <%= items.sum { |item| item.items.present? && item.items['quantidade'].present? ? item.items['quantidade'] : 0 } %> unidades
                    </a>
                  </p>
                  <div id="collapse<%= store_id %>-<%= codigo %>" class="collapse">
                    <% items.each do |item| %>
                      <a href='https://www.bling.com.br/vendas.php#edit/<%= item.bling_order_id %>'>Pedido: <%= item.bling_order_id %></a><br>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <% if unknown_items.any? %>
                <div>
                  <p>
                    <a href="#" data-toggle="collapse" data-target="#collapse<%= store_id %>-Unknown">
                      <strong>C처digo N찾o Encontrado:</strong> <%= unknown_items.count %> vez(es)
                    </a>
                  </p>
                  <div id="collapse<%= store_id %>-Unknown" class="collapse">
                    <% unknown_items.each do |item| %>
                      <a href='https://www.bling.com.br/vendas.php#edit/<%= item.bling_order_id %>'>Pedido: <%= item.bling_order_id %></a><br>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <% if loja_name.eql?('Mercado Livre') %>
                <p>
                  Mercado Envios Flex: <%= @mercado_envios_flex_counts %>
                </p>
              <% end %>

            </div>
          </div>
        </div>

      <% end %>
    <% else %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <p>
              Os pedidos aparecer찾o aqui
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
