<div class="section-header">
  <div class="page-header">
    <h1><%= t('orders_products.three') %></h1>
  </div>
</div>

<%= link_to 'Exportar para CSV', show_pending_orders_path(format: :csv, situation_id: params[:situation_id], store_id: params[:store_id]), class: 'btn btn-info' %>

<div class="container">
  <%= form_with(url: show_pending_orders_path, method: :get, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :situation_id, 'Filtro por Status' %>
      <%= form.select :situation_id, BlingOrderItem::STATUS_PENDING_NAME_KEY_VALUE.invert, { include_blank: 'Select Status', selected: params[:situation_id] }, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= form.label :store_id, 'Filtro por Loja' %>
      <%= form.select :store_id, BlingOrderItem::STORE_ID_NAME_KEY_VALUE.invert, { include_blank: 'Todas', selected: params[:store_id] }, { class: 'form-control' } %>
    </div>
    <%= form.submit 'Filtro', class: 'btn btn-primary' %>
  <% end %>

  <div class="row justify-content-center">
    <% if @all_items.present? %>
      <% @all_items.group_by { |item| item.bling_order_item.store_name }.each do |loja_name, items| %>
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0"><%= loja_name %></h5>
            </div>
            <div class="card-body">
              <% items.group_by(&:sku).each do |codigo, sku_items| %>
                <% sorted_sku_items = sku_items.sort_by { |item| -item.quantity.to_i } %>
                <div class="mb-3">
                  <button class="btn btn-info btn-block text-left" type="button" data-toggle="collapse" data-target=".collapse<%= codigo %>">
                    <strong>Código <%= codigo %></strong> - <%= sorted_sku_items.sum { |item| item.quantity.to_i } %> unidades
                  </button>
                  <div class="collapse collapse<%= codigo %> mt-2">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                          <tr>
                            <th>Pedido</th>
                            <th>Quantidade</th>
                            <th>Status</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% sorted_sku_items.each do |item| %>
                            <tr>
                              <td>
                                <%= item.bling_order_item.bling_order_id %>
                                <a href='https://www.bling.com.br/vendas.php#edit/<%= item.bling_order_item.bling_order_id %>' target="_blank" class="btn btn-sm btn-outline-secondary ml-2">
                                  Ver no Bling
                                </a>
                              </td>
                              <td><%= item.quantity %> unidades</td>
                              <td><%= item.pending? ? 'Pendente' : 'Não Pendente' %></td>
                              <td>
                                <% if item.bling_order_item.situation_id == BlingOrderItem::Status::PENDING %>
                                  <%= link_to 'Marcar Pendente', update_status_item_path(item, status: 'pendente'), method: :patch, class: 'btn btn-sm btn-success' %>
                                  <%= link_to 'Marcar Não Pendente', update_status_item_path(item, status: 'nao_pendente'), method: :patch, class: 'btn btn-sm btn-danger' %>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <p>Os pedidos aparecerão aqui</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
