<br><br><br>
<div class="page-header">
  <h1><%= t('orders_products.two') %></h1>
</div>
<table id="order_table" class="table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th><%= t('orders_products.code') %></th>
      <th><%= t('orders_products.name') %></th>
      <th> <%= t('orders_products.quantity_in_stock') %></th>
      <th><%= t('orders_products.exit_quantity') %></th>
      <th><%= t('orders_products.order_quantity') %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.custom_id %></td>
        <td><%= product.name %></td>
        <td><%= product.balance %></td>
        <td><%= product.count_sale_product %></td>
        <td><%= product.sum_simplo_items %></td>
      </tr>
    <% end %>
  </tbody>
</table>