<div class="page-header">
  <h1><%= t('orders_products.one') %></h1>
</div>
<table id="order_table" class="table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th><%= t('orders_products.order_id') %></th>
      <th><%= t('orders_products.name') %></th>
      <th><%= t('orders_products.city') %></th>
      <th><%= t('orders_products.state') %></th>
      <th><%= t('orders_products.zip_code') %></th>
      <th><%= t('orders_products.total_value') %></th>
      <th><%= t('orders_products.total_value') %></th>
      <th><%= t('orders_products.status') %></th>
    </tr>
  </thead>
  <tbody>
    <% @send_orders.each do |order| %>
      <tr>
        <td><%= order["Wspedido"]["numero"] %></td>
        <td><%= order["Wspedido"]["cliente_razaosocial"] %></td>
        <td><%= order["Wspedido"]["entrega_cidade"] %></td>
        <td><%= order["Wspedido"]["entrega_estado"] %></td>
        <td><%= order["Wspedido"]["cliente_cep"] %></td>
        <td><%= order["Wspedido"]["total_pedido"] %></td>
        <td><%= DateTime.parse(order["Wspedido"]["data_pedido"]).strftime("%-d/%-m/%y %H:%M") %></td>
        <td><%= order["Wspedido"]["pedidostatus_id"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>