<div class="nested-fields">
  <div class="form-row">
    <div class="form-group col-6">
      <%= f.label :product_id, t(:product_id), :class => 'control-label' %>
      <div class="product">
        <%= f.select :product_id, Product.all.collect { |p| ["#{p.custom_id} - #{p.name} - #{p.price}", p.id] }, { :include_blank => 'Selecione um Produto' }, :class => "product-id form-control" %>
      </div>
    </div>
    <div class="form-group col-3">
      <%= f.label :quantity, t(:quantity), :class => 'control-label' %>
      <%= f.text_field :quantity, :class => 'quantity form-control', :onKeyUp => "fetchSaleProducts(this)" %>
    </div>
    <div class="form-group col-3">
      <%= f.label :value, t(:value), :class => 'control-label' %>
      <%= f.text_field :value, :class => 'form-control product-value' %>
    </div>
  </div>

  <%= link_to_remove_association t('sales.remove_product'), f, :class => 'btn btn-danger' %>
  <hr>
</div>