<div class="section-header">
  <div class="page-header">
    <h1><%= t '.title', :default => 'Relatórios' %></h1><br><br>
    <ul>
      <li><a href="<%= show_orders_products_stock_path %>">Controle de Pedidos Produtos</a></li>
      <li><a href="https://pimaco-tags.herokuapp.com/">Gerador de etiquetas</a></li>
      <li><a href="<%= reports_daily_sale_path %>">Relatório Diário de vendas</a></li>
      <li><a href="<%= stock_transfer_path %>">Transferência de estoque</a></li>
      <li><a href="<%= show_orders_business_day_path %>">Tempo dos pedidos</a></li>
      <li><a href="<%= show_orders_control_path %>">Controle de Pedidos Online</a></li>
    </ul>
  </div>
</div>